* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    background: $color-fondo;
    color: $color-secundario;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


