form {
input,
textarea,
select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: $radio;
    border: 1px solid #ccc;
    }
}

button,
.btn {
    padding: 8px 15px;
    background-color: $color-secundario;
    color: $color-texto;
    border: none;
    border-radius: 4px;
    cursor: pointer;

@include transition;

&:hover {
    background-color: $color-primario;
    }
}
