header {
    background-color: $color-primario;
    padding: 10px 0;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}

.logo {
    width: 70px;
    border-radius: 10px;
}

.titulo {
    margin: 0;

    &::after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background-color: $color-secundario;
        margin: 6px auto;
    }
}

