.navbar {
    background-color: $color-primario !important;
}

.navbar-nav {
    margin: auto;
}

.nav-link {
    color: white !important;
    font-weight: bold;

    @include transition;

    &:hover {
    color: $color-secundario !important;
    }
}

.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler-icon {
    filter: invert(1);
}


