.destacados-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.destacado {
  @include card;
  width: 280px;
  text-align: center;

  img {
    width: 100%;
    border-radius: $radio;
    margin-bottom: 10px;
  }

  @include transition;

  &:hover {
    transform: translateY(-5px);
  }
}

.categorias-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 40px;
  justify-content: center;
}

.categoria {
  @include card;
  width: 300px;

  @include transition;

  &:hover {
    transform: scale(1.02);
  }
}

.producto-img {
  width: 100%;
  border-radius: $radio;
  margin-bottom: 10px;
}

