@include responsive(600px) {
.destacado,
.categoria {
        width: 90%;
    }

.destacados-container {
        flex-direction: column;
        align-items: center;
    }

nav ul li {
        display: block;
        margin: 10px 0;
    }

.categorias-container {
        grid-template-columns: 1fr;
    }
}

