@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin responsive($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin flex($justify: center, $align: center, $direction: row, $gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
}



