$color-primario: #0d6efd;
$color-secundario: #212529;
$color-fondo: #f8f9fa;

$radius: 12px;
$sombra: 0 4px 12px rgba(0,0,0,.1);

$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;

/* ==== colores marca Tecno.Sun ==== */
$tecno-primary: #6c63fd;
$tecno-dark: #05081a;
$tecno-bg: #0b0f2d;
$white: #ffffff;

