/* ===== HEADER ===== */

.main-header {
    width: 100%;
    background: linear-gradient(135deg, $tecno-bg, $tecno-dark);
    padding: 2rem 0;
}

.logo { width: 70px; }

.title {
    color: $tecno-primary;
    font-weight: 700;
}


/* ===== NAV ===== */

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
        position: relative;
        color: $white;
        text-decoration: none;
        font-weight: 600;
        padding-bottom: 4px;
        transition: color .25s;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 2px;
            background: $tecno-primary;
            transition: width .3s;
        }

        &:hover {
            color: $tecno-primary;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

/* link activo */
.nav-menu a.active {
    color: $tecno-primary;

    &::after {
        width: 100%;
    }
}


/* ===== MAIN ===== */

main {
    text-align: center;
}

main section {
    max-width: 1100px;
    margin: 0 auto 3rem auto;
}


/* ===== TARJETAS ===== */

.destacado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;

    background: $white;
    border-radius: $radius;
    box-shadow: $sombra;

    overflow: hidden;
    cursor: pointer;

    transition: transform .25s, box-shadow .25s;

    &:hover {
        transform: translateY(-6px);
        box-shadow: 0 10px 25px rgba(0,0,0,.15);
    }
}


/* ===== ZOOM IMÁGENES ===== */

.destacado img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    transition: transform .35s ease;
}

.destacado:hover img {
    transform: scale(1.08);
}


/* ===== FOOTER ===== */

.main-footer {
    background: $tecno-dark;
    color: $white;
    padding: 2rem;
}




