.card {
    background: white;
    border-radius: $radius;
    box-shadow: $sombra;
    padding: 1rem;
    transition: transform .2s, box-shadow .2s;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 20px rgba(0,0,0,.15);
    }
}


.btn {
    background: $color-primario;
    color: white;
    padding: .6rem 1rem;
    border-radius: $radius;
    border: none;
    cursor: pointer;
    transition: .25s;

    &:hover {
        transform: translateY(-2px);
        opacity: .9;
    }
}







